#about {
	font-family: "adobe-caslon-pro", Helvetica, sans-serif; 
	font-size: 16px;
	line-height: 28px;
	font-weight: normal;		
	padding: 25px 0 25px 0;
	margin: 0 auto;
	color: #555;
	text-align: center;

}

#box {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#callout {
	font-family:"futura-pt", helvetica, sans-serif;
	font-weight:500;
	font-size: 36px;
	line-height: 40px;
	letter-spacing:.1em;
	padding: 25px 0 25px 0;
	margin: 25px auto;
	color: #555;
	text-align: center;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}