
a.app-title  h2 {
	font-family:"futura-pt", helvetica, sans-serif;
	font-weight:500;
	font-size: 36px;
	line-height: 40px;
	letter-spacing:.1em;
	padding: 25px 0 25px 0;
	margin: 25px auto;
	color: #555;
	text-align: center;
	transition: all .2s ease-in-out;
	/* border-top:1px solid #ccc; */
}
a.app-title h2:hover {
transform: scale(1.5);
}
img {
	background: #FFF;
  	box-shadow: 10px 10px 5px #888888;
}

figure {
		border-top:1px solid #ccc;
}
figure:first-child {
	border-top: none;
}